section {
  max-width: 1140px;
  margin: 0 auto;
  min-height: 80vh;
}

section .judul{
  font-weight: 700;
  margin-top: 50px;
  color: #1A5D1A;
}

section .yadek p{
  color: #888888;
  font-weight: 500;
}

/* card */

main .content {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.card-kos {
  background-color: white;
  padding: 28px 0px 28px 26px;
  width: 335px;
  height: 550px;
  box-shadow: 0px 4px 20px 0px rgba(26, 93, 26, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-kos header {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-kos .round {
  background-color: #1A5D1A;
  border-radius: 30px 0px 0px 30px;
  padding: 10px 30px;
  color: white;
}

.card-kos .round p {
  color: white;
}

.card-kos header p {
  color: #F1C93B;
  margin: 0;
  font-weight: 500;
}

.card-kos main {
  margin-top: 20px;
}

.card-kos img {
  border-radius: 10px;
  width: 281px;
  height: 208px;
  box-shadow: none;
}

.card-kos main .judul {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 600;
}

.card-kos main .harga {
  color: #4a4a4a;
  font-weight: 700;
  font-size: 20px;
}

.card-kos main .harga span {
  color: #F1C93B;
}

.card-kos main .desc {
  font-size: 12px;
  color: #1A5D1A;
  font-weight: 500;
  margin: 15px 0;
}

.card-kos footer button {
  padding: 13px 25px;
  background-color: transparent;
  border: 1px solid #F1C93B;
  color: #F1C93B;
  border-radius: 5px;
}

.card-kos footer button:hover {
  padding: 13px 25px;
  background-color: #F1C93B;
  border: 1px solid #F1C93B;
  color: white;
  border-radius: 5px;
}

.card-kos .cta {
  padding: 0;
  display: flex;
  color: #4a4a4a;
  font-weight: 700;
  font-size: 16px;
}



section .cardio {
  background: #FFF;
  box-shadow: 0px 4px 18px 0px rgba(26, 93, 26, 0.49);
  min-height: 45vh;
  width: 100%;
  margin: 50px auto;
  padding: 70px 50px;
  border-radius: 8px;
}

section .cardio .wrapper{
  display: flex;
  gap: 15px;
}

section .cardio .left {
  width: 80%;
}

section .cardio .right img{
  width: 100%;
  height: 100%;
}

section .cardio h1{
  color: #1A5D1A;
  font-weight: 700;
}

section .cardio form{
  width: 100%;
  margin: 0 auto;
}

section .cardio .inline{
  width: 100%;
  margin: 15px 0;
}

section .cardio .inline.first{
  margin-top: 30px;
}

section .cardio .inline label{
  width: 35%;
  font-size: 1.3rem;
}

section .cardio .inline input{
  width: 64%;
  height: 40px;
  border: 1px solid #1A5D1A;
  border-radius: 3px;
  padding: 0 10px;
}

section .cardio .inline-button{
  margin-top: 50px;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

section a{
  text-decoration: none;
  color: rgb(144, 144, 144);
  font-size: 1.2rem;
}

section a span{
  margin-left: -7px;
}