* {
  font-family: 'Poppins', sans-serif;
}

/* Section Cari */

.cari {
  width: 1140px;
  margin: 0 auto;
  padding: 70px 0;
}

.cari h1 {
  width: 652px;
  color: #1A5D1A;
  font-weight: 700;
  line-height: 105%;
}

.cari .search-bar {
  margin-top: 25px;
  width: 373px;
  height: 52px;
  border-radius: 9px;
  background: #FFF;
  box-shadow: 0px 0px 5.8px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 20px;
}

.cari form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cari form p{
  margin: 5px 0;
  color: #1A5D1A;
  font-weight: 600;
  font-size: 1.2rem;
}

.cari button {
  background-color: #1A5D1A;
  border: none;
  width: 38px;
  height: 38px;
  border-radius: 4px;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cari select{
  appearance: none;
  width: 75%;
  font-size: 1rem;
  font-weight: 500;
  background-color: #fff;
  border: none;
  border-radius: 0.25rem;
  color: #838383;
  cursor: pointer;
  padding-left: 10px;
}

/* Section Daerah */

.daerah {
  width: 1140px;
  margin: 0 auto;
  padding: 70px 0;
}

.daerah h1 {
  color: #1A5D1A;
  display: inline;
  margin: 0;
}

.daerah h1 span {
  font-weight: 700;
}

.daerah header {
  display: flex;
  align-items: center;
}

.daerah header p {
  margin: 0;
}

.daerah header p span {
  margin-left: -7px;
}

.daerah header a {
  text-decoration: none;
  color: #B8B8B8;
  margin-left: 15px;
}

.daerah header a:hover {
  color: #d1d1d1;
}

main .content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.card-kos {
  background-color: white;
  padding: 28px 0px 28px 26px;
  width: 335px;
  height: 550px;
  box-shadow: 0px 4px 20px 0px rgba(26, 93, 26, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-kos header {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-kos .round {
  background-color: #1A5D1A;
  border-radius: 30px 0px 0px 30px;
  padding: 10px 30px;
  color: white;
}

.card-kos .round p {
  color: white;
}

.card-kos header p {
  color: #F1C93B;
  margin: 0;
  font-weight: 500;
}

.card-kos main {
  margin-top: 20px;
}

.card-kos img {
  border-radius: 10px;
  width: 281px;
  height: 208px;
  box-shadow: none;
}

.card-kos main .judul {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 600;
}

.card-kos main .harga {
  color: #4a4a4a;
  font-weight: 700;
  font-size: 20px;
}

.card-kos main .harga span {
  color: #F1C93B;
}

.card-kos main .desc {
  font-size: 12px;
  color: #1A5D1A;
  font-weight: 500;
  margin: 15px 0;
}

.card-kos footer button {
  padding: 13px 25px;
  background-color: transparent;
  border: 1px solid #F1C93B;
  color: #F1C93B;
  border-radius: 5px;
}

.card-kos footer button:hover {
  padding: 13px 25px;
  background-color: #F1C93B;
  border: 1px solid #F1C93B;
  color: white;
  border-radius: 5px;
}

.card-kos .cta {
  padding: 0;
  display: flex;
  color: #4a4a4a;
  font-weight: 700;
  font-size: 16px;
}

.card {
  background-color: white;
  width: 335px;
  height: 550px;
  box-shadow: 0px 4px 20px 0px rgba(26, 93, 26, 0.15);
  border-radius: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card a {
  text-decoration: none;
  color: #4a4a4a;
  font-weight: 700;
  font-size: 16px;
}

.card a:hover {
  font-size: 17px;
  transition: ease-in-out;
}

/* Section Label */

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 1140px;
  height: 150px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(26, 93, 26, 0.15);
  padding: 30px 40px;
}

.label .text h1 {
  color: #1A5D1A;
  font-weight: 700;
}

.label .text p {
  color: #1A5D1A;
  font-weight: 300;
  font-size: 1.5rem;
}

.label .text h1,
.label .text p {
  margin: 0;
}

.label .gambar img {
  width: 144px;
  height: 106px;
}

/* Section Comment */

.comment {
  margin: 80px auto;
  width: 1140px;
}

.comment h1 {
  color: #1A5D1A;
  font-weight: 300;
}

.comment .card-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.comment-card {
  padding: 40px;
  background-color: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(26, 93, 26, 0.15);
  border-radius: 10px;
  width: 350px;
  min-height: 390px;

}

.comment-card header {
  display: flex;
  align-items: center;
}

.comment-card header img {
  width: 55px;
  height: 55px;
  ;
}

.comment-card header .content {
  margin-left: 15px;
}

.comment-card header .content h3,
.comment-card header .content p {
  margin: 0;
}

.comment-card header .content h3 {
  color: #F1C93B;
  font-weight: 600;
  font-size: 1.25rem;
}

.comment-card header .content p {
  font-size: 0.85rem;
  color: #9f9e9e;
}

.comment-card main p {
  margin-top: 30px;
}

.comment .tombol {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.comment .cta {
  width: 355px;
  font-size: 1.1rem;
  height: 46px;
  border-radius: 5px;
  background: #1A5D1A;
  text-decoration: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
}